$font-heading: "DynaPuff", sans-serif;
$font-main: "Manrope", sans-serif;

$color-black: #000000;
$color-light-black: #202020;
$color-gray: #565656;
$color-yellow: #faeb49;
$color-white: #ffffff;
$color-light-gray: #d6d6d6;
