.main__hero-wrapper {
  background: linear-gradient(0.1turn, $color-light-gray, $color-yellow);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main__hero {
  margin: auto;
}

.main__hero-title {
  font-family: $font-heading;
  font-size: rem(80);
  font-weight: 700;
  color: $color-white;
  padding-top: rem(491);
  padding-bottom: rem(119);
}

@media (max-width: 1200px) {
  .main__hero-title {
    padding-top: rem(273);
    padding-bottom: rem(130);
  }
}

@media (max-width: 768px) {
  .main__hero-title {
    font-size: rem(48);
    padding-top: rem(412);
    padding-bottom: rem(149);
    max-width: rem(330);
  }
}
