.mobile-app__section {
  background-color: $color-gray-background;
  padding-block: rem(86);
}

.mobile-app__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  column-gap: rem(40);
  row-gap: rem(60);
}

.mobile-app__figure-big {
  margin: 0;
  padding: rem(20) rem(24);
  overflow: hidden;
}

.mobile-app__figure {
  padding: rem(20);
}

.mobile-app__item {
  background-color: $color-white-background;
  border-radius: 24px;
}

.mobile-app__item-big {
  grid-column: 1 / 4;
}

.mobile-app__link {
  cursor: pointer;
}

.mobile-app__img {
  width: rem(285);
}

.mobile-app__img-big {
  width: rem(1010);
}

.mobile-app__title {
  padding-block: rem(20) rem(22);
  font-family: $font-heading;
  font-weight: 700;
  font-size: rem(32);
  color: $color-gray;
}

.mobile-app__text {
  font-family: $font-main;
  font-weight: 500;
  font-size: rem(16);
  color: $color-black;
}

.mobile-app__title-big {
  font-family: $font-heading;
  font-weight: 600;
  font-size: rem(40);
  color: $color-gray;
}

.mobile-app__text-big {
  width: 55%;
  font-family: $font-main;
  font-weight: 700;
  font-size: rem(16);
  color: $color-black;
}
