$font-heading: "DynaPuff", sans-serif;
$font-main: "Manrope", sans-serif;

$color-black: #000000;
$color-light-black: #202020;
$color-gray: #565656;
$color-gray-background: #3c3c3c;
$color-yellow: #faeb49;
$color-white: #ffffff;
$color-white-background: #fffef2;
$color-light-gray: #d6d6d6;
$color-border: #f2f2f2;
