.header {
  position: fixed;
  background-color: $color-light-black;
  display: flex;
  z-index: 1;
  justify-content: center;
  top: -2px;
  width: 100%;
}

.header-scroll {
  position: relative;
  z-index: 2;
  background: linear-gradient(0.13turn, #e3dfa2, #ffee32);
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: rem(18);
}

.header__menu-list {
  display: flex;
  gap: rem(20);
}

.header__menu-link {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.header__burger-menu-btn {
  display: none;
}

.header__icon-img {
  height: rem(16);
}

.header__menu-link {
  padding: rem(10) rem(16);
  border: 1px solid $color-white;
  border-radius: 20px;
}

.header__logo-text {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  font-family: $font-main;
}

@media (max-width: 1200px) {
  .header {
    display: none;
  }

  .header-scroll {
    position: sticky;
    top: 0;
  }

  .header__menu-list {
    display: none;
  }

  .header__burger-menu-btn {
    display: block;
    background: none;
    border: none;
  }
}

@media (max-width: 768px) {
  .header-scroll {
    width: 100%;
  }
}
